<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="ActivityTablet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <ActivityTablet.Properties.Settings>
            <setting name="CHECK_BROADCAST" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="USER_NAME" serializeAs="String">
                <value />
            </setting>
            <setting name="USER_EMAIL" serializeAs="String">
                <value />
            </setting>
            <setting name="USER_DEVICENAME" serializeAs="String">
                <value />
            </setting>
            <setting name="USER_LOCATION" serializeAs="String">
                <value />
            </setting>
            <setting name="ENVIRONMENT_BASE_URL" serializeAs="String">
                <value>http://activitycloud-1.apphb.com/Api/</value>
            </setting>
            <setting name="DISCOVERY_BROADCAST" serializeAs="String">
                <value>True</value>
            </setting>
        </ActivityTablet.Properties.Settings>
    </userSettings>
</configuration>
