<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ActivityUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.8.0" newVersion="4.0.8.0" />
      </dependentAssembly>
      <trustInfo xmlns="urn:schemas-microsoft-com:asm.v3">
        <security>
          <requestedPrivileges>
            <requestedExecutionLevel level="asInvoker"
             uiAccess="true"/>
          </requestedPrivileges>
        </security>
      </trustInfo>
    </assemblyBinding>
  </runtime>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Warning" propagateActivity="true" >
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>

      <source name="myUserTraceSource" switchValue="Warning, ActivityTracing">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
    </sources>

    <sharedListeners>
      <add name="xml"
           type="System.Diagnostics.XmlWriterTraceListener"
           initializeData="log.svclog" />
    </sharedListeners>

  </system.diagnostics>
  <userSettings>
    <ActivityUI.Properties.Settings>
      <setting name="CHECK_BROADCAST" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="USER_NAME" serializeAs="String">
        <value />
      </setting>
      <setting name="USER_EMAIL" serializeAs="String">
        <value />
      </setting>
      <setting name="DEVICE_NAME" serializeAs="String">
        <value />
      </setting>
      <setting name="USER_LOCATION" serializeAs="String">
        <value />
      </setting>
      <setting name="ENVIRONMENT_BASE_URL" serializeAs="String">
        <value>http://activitycloud-1.apphb.com/Api/</value>
      </setting>
      <setting name="DISCOVERY_BROADCAST" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DEVICE_TYPE" serializeAs="String">
        <value>Laptop</value>
      </setting>
      <setting name="DISCOVERY_TYPE" serializeAs="String">
        <value>WSDiscovery</value>
      </setting>
      <setting name="DEVICE_TAG" serializeAs="String">
        <value>0</value>
      </setting>
    </ActivityUI.Properties.Settings>
  </userSettings>
</configuration>